html {
  --primary-color: hsl(300, 43%, 22%);
  --secondary-color: hsl(333, 80%, 67%);
  --soft-color: hsl(300, 24%, 96%);
  --primary-text: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  text-align: center;
  overflow: hidden;
}

#wrapper {
  margin: 5em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: var(--primary-color);
  font-size: 3em;
}

.title + p {
  margin: 1em 0;
  color: var(--secondary-color);
  line-height: 1.5;
}

/* ratings */
.rating__card {
  background-color: var(--soft-color);
  padding: 1rem;
  border-radius: 8px;
  margin: 2rem 0;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 2;
}

.stars img {
  margin: 0 0.2rem;
}
/* Reviews */
.review__card {
  background-color: var(--primary-color);
  margin: 2rem 0;
  color: var(--primary-text);
  text-align: left;
  padding: 2rem;
  border-radius: 10px 10px 5px 5px;
}

.review__card .profile {
  margin: 1em 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.profile-desc > * {
  margin: 0.5em;
}

.DP img {
  display: inline;
  border-radius: 50%;
  width: 3em;
}

.profile .reviewer {
  font-weight: bold;
}

.profile .verified {
  color: var(--secondary-color);
  font-weight: 500;
}

.review__card p {
  line-height: 1.7;
  color: var(--soft-color);
}

@media (min-width: 900px) {
  .container {
    width: 85%;
  }
  .top {
    display: flex;
  }

  .top > * {
    flex: 1;
  }

  header {
    padding-right: 10em;
    text-align: left;
  }

  .rating__card {
    position: relative;
    display: flex;
    column-gap: 2rem;
    margin: 1rem 0;
  }
  .review__card {
    position: relative;
  }

  .rating__card:nth-child(1) {
    left: -2rem;
  }

  .rating__card:nth-child(3) {
    left: 2rem;
  }

  #review {
    display: flex;
    gap: 3rem;
  }

  .review__card:nth-child(1) {
    top: -1rem;
  }

  .review__card:nth-child(3) {
    bottom: -1rem;
  }
}
/* 
Very Dark Magentavar(var(--primary-color)
Soft Pink: var(--secondary-color)hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */
